In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [3]:
obj = pd.Series([4,7,-9,3])
obj

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([45,6,8,9,12,34,6], index=['a','b','c','d','x','y','z'])
obj2

In [7]:
obj2['z']

6

In [8]:
obj2['a']=1001
obj2

In [9]:
obj2[obj2>10]

In [10]:
sdata = {'Warszawa':45120,'Kraków':38970,'Lublin':31200,'Gdańsk':32450}
obj3 = pd.Series(sdata)
obj3

In [11]:
miasta = ['Poznań','Kraków','Rzeszów','Gdańsk']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [12]:
data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'pop':[2.7,2.75,3.05,0.85,0.9,1.01]}
frame = pd.DataFrame(data)
frame

,miasto,rok,pop
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [13]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','pop','wsp'], index=['jeden','dwa','trzy','cztery','pięć','sześć'])
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pięć,2019,Kraków,0.90,NaN
sześć,2020,Kraków,1.01,NaN

In [14]:
frame2['miasto']

In [15]:
frame2['wsp']=19.99
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,19.99
dwa,2018,Warszawa,2.75,19.99
trzy,2019,Warszawa,3.05,19.99
cztery,2018,Kraków,0.85,19.99
pięć,2019,Kraków,0.90,19.99
sześć,2020,Kraków,1.01,19.99

In [16]:
frame2['wsp']=np.arange(6.)
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pięć,2019,Kraków,0.90,4.0
sześć,2020,Kraków,1.01,5.0

In [20]:
daty = pd.date_range("20230313",periods=6)
daty

DatetimeIndex(['2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16',
               '2023-03-17', '2023-03-18'],
              dtype='datetime64[ns]', freq='D')

In [23]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2023-03-13,2.115882,-0.169370,0.167803,2.113837
2023-03-14,0.495074,1.141506,-1.350587,1.116848
2023-03-15,1.395836,0.859419,0.307143,0.190626
2023-03-16,-0.727279,-0.037409,-1.064361,0.392433
2023-03-17,-0.919554,0.928523,-1.038339,-0.818764
2023-03-18,0.439678,0.085555,-0.207598,-1.282860